#dark-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dark-container h1 {
  font-size: 40px;
}

#dark-container h3 {
  font-size: 20px;
}

.switcher {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.background-theme {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}