div#background {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

div.back-side {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

div.back-side h1 {
  font-size: 30vh;
  line-height: 33vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: right;
  color: #1D1F20;
}

div.front-side {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

div.front-side h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24vh;
  line-height: 20vh;
  color: #FFF;
  width: 50%;
  text-transform: uppercase;
  margin-left: 10vw;
}