div.hidden-menu {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #121212;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

div.hidden-menu div.menu {
  width: 30vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

div.hidden-menu div.menu button, div.hidden-menu div.body button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  margin: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #808080;
  background-color: transparent;
  border-radius: 100%;
  color: #FFFFFF;
  cursor: pointer;
}

div.hidden-menu div.menu ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.hidden-menu div.menu ul li {
  font-size: 30px;
  margin: 15px auto;
  color: #FFFFFF;
  font-weight: bolder;
  padding: 0px 75px;
  border-radius: 50px;
  cursor: pointer;
}

div.hidden-menu div.menu ul li:hover {
  background-color: #242424;
}

div.hidden-menu div.body {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100vw;
  height: 250vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

div.hidden-menu div.body button {
  color: #121212;
  border: none !important; 
}

div.hidden-menu div.body p {
  font-size: 50px;
}