* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mallanna', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button:focus, input:focus {
  outline: none;
}